.todoListMain .header input {
    padding: 1px;
    font-size: 16px;
    border: 2px solid #fff;
    width: 165px;
}

.todoListMain .header button {
    padding: 1px;
    font-size: 16px;
    margin: 0px;
    margin-right: 0px;
    border:  solid #fff
}
.todoListMain .header button:hover {
    cursor: pointer;
}
.todoListMain .theList li {
    list-style: none;
    text-align: left;
    margin-left: -10px;
    margin-top: -2px;
    font-size: 12px;
}