.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 300px;
    border-radius: 7px;
    padding: 20px;
}

.login-form input {
    width: 95%;
    height: 25px;
    padding-left: 7px;
    border-radius: 3px;
    border: 1px solid lightgrey;
    margin-top: 2px;
}

.lb {
    background-color: #7670D8;
    color: #E8E7EE;
    text-transform: uppercase;
    height: 30px;
    margin-bottom: 5px;
    border-width: 1px;
    border-radius: 3px;
}

.view-change {
    font: bold 12px 'AvenirNext';
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
}