.appButton {
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-bottom: 40px;
    border-radius: 10px;
    flex: 0 0 auto;

}

.appList {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    
}