.appButton {
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 10px;
}

.appList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 20px;
}
body {
    background:white;
    border-radius: 20px 20px 20px 20px;
}