.nav-app-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.nav-app-logo img {
    height: 100px;
}

.active-page-indicator {
    /* background-color: #41C1EB; */
    background-color: transparent;
    height: auto;
    width: 6px;
    border-radius: 0 70px 70px 0;
}

.nav-link {
    height: 45px;
    display: flex;
    flex-direction: row;
    font-family: 'AvenirNext-Medium';
    color: #E8E7EE;
    padding: 10px 0;
}

.nav-link a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link-icon {
    height: 40px;
    margin: 0 10px;
}

.nav-logout-link {
    height: 50px;
    width: inherit;
    padding-left: 6px;
    border-top: 1px solid #E8E7EE;
    position: fixed;
    bottom: 0;
}