.nav-links, .logout-link {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: left;
}
.nav-links{
    padding-top: 50px;

}


.nav-links a, .logout-link a {
    text-decoration: none;
    color: black;
}

.temp-wrapper {
    font-weight: lighter;
    display: flex;
    line-height: 50px;
    color: white;
}

.temp-wrapper img, .logout-link img {
    height: 50px;
    width: 50px;
    /* outline: 1px solid lime; */
}

.logout-link img {
    height: 35px;
    width: 35px;
    margin: 7px;
    display: fixed;
    bottom: 0;
    /* outline: 1px solid lime; */
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA; opacity:0.4;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }

  .temp-wrapper :hover .overlay {
    width: 100%;
  }
  
  .logoutlink {
    padding-top: 0px;
    margin-top:230%;
  }