.view-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form, .register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 300px;
    padding: 20px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 2px;
}

.view-wrapper input {
    width: 95%;
    height: 25px;
    padding-left: 7px;
    border-radius: 3px;
    border: 1px solid lightgrey;
    margin-top: 2px;
    margin-bottom: 10px;
}

.login-button, .register-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form .lb, .register-form .rb {
    text-transform: uppercase;
    height: 30px;
    width: 75px;
    border-radius: 3px;
}

.login-form label, .register-form label {
    align-self: left;
}

.login-form span, .register-form span {
    font-size: 12px;
    text-align: center;
}

.pword-forgot {
    text-align: right;
    width: 100%;
}

.view-wrapper a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.q-wrap {
    width: 100%;
    text-align: center;
}

.view-wrapper button[type="button"] {
    font-weight: bold;
    background: none;
    border: none;
    padding: 0;
    color: black;
    text-decoration: none;
    cursor: pointer;
}