.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 175px;
  height: 100%;
  background: white;
  color: black;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  outline: 1px solid black;
}

.App-aside {
  width: 250px;
  height: 100%;
  background: white;
  color: black;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  right: 0;
  outline: 1px solid purple;
}

.App-main {
  flex: 1;
  overflow: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}