html, body, #root, .all-wrapper {
  height: 100%;
}

.App {
  font-family: 'AvenirNext';
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-logo {
  position: relative;
  height: 125px;
  left: 50px;
}

.login-header {
  padding: 25px;
}

.login-nav {
  height: 125px;
  display: flex;
  line-height: 125px;
  justify-content: space-between;
}

.login-nav-links a {
  text-decoration: none;
  color: #2F2E2E;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 20px;
}

.App-header {
  width: 220px;
  height: 100%;
  background:#3c3f89;
  color: black;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  outline: 1px solid black;

}

.App-aside {
  width: 250px;
  height: 100%;
  background: white;
  color: black;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  right: 0;
  outline: 1px solid purple;
}

.App-main {
  display: flex;
  align-items: center;
  flex: 1;
  overflow: auto;
}

.homepage {
  background: url('../../images/Homepage-Image.png');
  background-size: 40%;
  background-position: bottom 5px right 7px;
  background-repeat: no-repeat;
}

.Dash-main {
  display: flex;
  align-items: center;
  flex: 1;
  overflow: auto;
  margin-left: 220px;
  margin-right: 250px;
  padding: 30px;
}

.App-link {
  color: #61dafb;
}

.purple-text {
  color: #7670D8;
}

.view-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.statement {
  padding: 30px;
  padding-top: 0;
  font-size: 42px;
  height: 350px;
  width: 425px;
}

.login-form, .register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 300px;
  padding: 20px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 2px;
}

.view-wrapper input {
  width: 95%;
  height: 25px;
  padding-left: 7px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  margin-top: 2px;
  margin-bottom: 10px;
}

.login-button, .register-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form .lb, .register-form .rb {
  text-transform: uppercase;
  height: 30px;
  width: 75px;
  border-radius: 3px;
}

.login-form label, .register-form label {
  align-self: left;
}

.login-form span, .register-form span {
  font-size: 12px;
  text-align: center;
}

.pword-forgot {
  text-align: right;
  width: 100%;
}

.view-wrapper a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.q-wrap {
  width: 100%;
  text-align: center;
}

.view-wrapper button[type="button"] {
  font-weight: bold;
  background: none;
  border: none;
  padding: 0;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}