.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 300px;
    padding: 20px;
    border-radius: 7px;
}

.register-form form {
    width: 200px;
}

.register-form input {
    width: 95%;
    height: 25px;
    padding-left: 7px;
    border-radius: 3px;
    border: 1px solid lightgrey;
    margin: 2px 0px 10px 0px;
}

.rb {
    background-color: #7670D8;
    color: #E8E7EE;
    text-transform: uppercase;
    height: 30px;
    margin: 10px 0px 5px 0px;
    border-width: 1px;
    border-radius: 3px;
}

.view-change {
    font: bold 12px 'AvenirNext';
    background: none;
    border: none;
    padding: 0;
    color: #2F2E2E;
    text-decoration: none;
    cursor: pointer;
}