.task-wrapper {
    width: 260px;
    height: 200px;
    margin-top: 50px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    background-color: white;
    box-shadow: 0px 2px 2px 0px lightgrey;
    display: flex;
}

.task-decoration {
    background-color: #7670D8;
    border-radius: 8px 0 0 8px;
    height: 100%;
    width: 15px;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px 0 10px;
}

.task-header h3 {
    margin: 0;
}

.task-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.task-list-item {
    display: flex;
}

.task-list-checkbox {
    height: 100%;
    padding: 0 7px;
}

.task-list-text {
    font-size: 14px;
}